@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ECECEC;
    display: grid;
}


.cartItem {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
    grid-template-rows: 3fr 1fr;
    border: 2px solid grey;
    margin: 5px;
    padding: 3px;
}

.cartItemImageWrapper {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 80px;
    height: 80px;
}

.cartItemImageWrapper img{
    width: 70px;
    height: 70px;
}

.submitComment {
    background-color: #53B175;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 100px;
    color: white;
    justify-items: end;
}

.quantity {
    height: 20px;
    width: 45px;
}

.quantityBtn {
    height: 30px;
    width: 50px;
    border-radius: 10px;;
    border: 1px solid grey;
    background-color: #53B175;
    color: white;
}

.removeBtn {
    height: 30px;
    width: 50px;
    border-radius: 10px;;
    border: 1px solid grey;
    background-color: #53B175;
    color: white;
}

.checkoutBtn {
    height: 30px;
    width: 75px;
    border-radius: 10px;;
    border: 1px solid grey;
    background-color: #53B175;
    color: white;
}


@media screen and (min-width: 400px) {
    
}