ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    
}

li {
    
    list-style: none;
}

nav {
    position: sticky;
    bottom: 0;
    height: 40px;
    background-color: #ECECEC;
}

a {
    color:black;
}
a:visted{
    color:black;
}

@media screen and (min-width: 400px) {
    
}