@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.products {
  display: grid;
  font-family: 'Montserrat', sans-serif;
}
.product {
  height: 700px;
  border-style: solid;
  border-color: grey;
  justify-items: center;
  display: grid;
  grid-template-rows: 4fr 1fr 3fr 2fr;
  padding: 5px;
  margin: 5px;
  border-radius: 15px 15px;
}
.productImageWrapper {
  max-width: 400px;
  width: 100%;
  height: 100%;
}

.productImage{
  max-width: 400px;
  width: 100%;
  height: auto;
  align-items: center;
  grid-row: 1 2;
}


.PriceOrderAdd{
  max-width: 400px;
  height: 80px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid grey;
  border-radius: 15px 15px;
}

.priceBags {
  grid-row: 1fr 1fr;
  font-size: small;
}

.description {
  margin: 10px;
  height: 80px;
}

.price {
  grid-row: 1/2;
  padding: 10px;
}

.bagsPer {
  grid-row: 2/3;
  padding: 10px;
}

.addToCartButton {
  grid-column: 2/3;
}
footer {
  background-color: #92817A;
}
nav ul {
  display: grid;
  justify-content: center;
  position: sticky;
}
nav ul li {
  list-style: none;
  grid-row: 1;
  font-size: 2rem;
  padding: 20px;
}