.products {
  display: grid;
}
.product {
  border-style: solid;
  border-color: black;
  justify-items: center;
}
.productImage{
  max-width: 300px;
  width: 100%;
  height:auto;
  align-items: center;
}

.reviews{
  background-color: lavender;
}
.review{
  background-color: aqua;
}
.reviewName{

}
.reviewContent{

}
.reviewContent{

}
footer {
  background-color: #92817A;
}
nav ul {
  display: grid;
  justify-content: center;
  position: sticky;
}
nav ul li {
  list-style: none;
  grid-row: 1;
  font-size: 2rem;
  padding: 20px;
}