@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.reviews {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(194, 251, 194);
}

.review {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid grey;
    margin: 3px;
    padding: 3px;
    border-radius: 10px;
}
