
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    height: 100%;
}

body {
    background-image: url('./Images/moveBackground.png');
    animation-name: move-bg;
    animation: move-bg 50s linear infinite;
    position: fixed;
}

@keyframes move-bg {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: -846px;
    }
}

.wrapper {
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: white;
    margin: 40px;
    padding: 15px;
    border-radius: 20px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.slogan {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    margin: 20px;
}

input {
    background-color: #53B175;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px 10px;
    margin: 0 auto;
    position: relative;
    font-size: large;
    border:#53B175;
}

img {
    width: 80%;
    height: 80%;
}

@media screen and (min-width: 400px) {

}